NODE_ENV=production
MONGO_URI=mongodb://crmAdmin:Gss1234%25@ac-x1wduoz-shard-00-00.2zwsmwt.mongodb.net:27017,ac-x1wduoz-shard-00-01.2zwsmwt.mongodb.net:27017,ac-x1wduoz-shard-00-02.2zwsmwt.mongodb.net:27017/10x-crm?ssl=true&replicaSet=atlas-xbz6di-shard-0&authSource=admin&appName=10x-crm-cluster
CLIENT_URL=https://10-x-crm-mariam-tchelidze.vercel.app
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
TWILIO_ACCOUNT_SID=AC876c5332b9c895c9675f7f8105a12044
TWILIO_AUTH_TOKEN=146819e4a4570032527b5220e21d638d
TWILIO_PHONE_NUMBER=+15551234567