NODE_ENV=production
MONGO_URI=mongodb://username:Gss1234%@host-00-00.mongodb.net:27017,host-00-01.mongodb.net:27017,host-00-02.mongodb.net:27017/database_name?ssl=true&replicaSet=replica_name&authSource=admin&appName=cluster_name
CLIENT_URL=https://10-x-crm-mariam-tchelidze.vercel.app,https://10xsensai.xyz
JWT_SECRET=replace_with_a_long_random_secret_my_project
JWT_EXPIRES_IN=7d
TWILIO_ACCOUNT_SID=AC876c5332b9c895c9675f7f8105a12044
TWILIO_AUTH_TOKEN=146819e4a4570032527b5220e21d638d
TWILIO_PHONE_NUMBER=+13187706681
ALLOWED_CALL_NUMBER=+995574431557
