NODE_ENV=production
MONGO_URI=mongodb://username:encoded_password@host-00-00.mongodb.net:27017,host-00-01.mongodb.net:27017,host-00-02.mongodb.net:27017/database_name?ssl=true&replicaSet=replica_name&authSource=admin&appName=cluster_name
CLIENT_URL=https://10-x-crm-mariam-tchelidze.vercel.app,https://10xsensai.xyz
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
ALLOWED_CALL_NUMBER=+995574431557
