@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.auth-form {
  width: 100%;
  max-width: 48rem;
  margin-inline: auto;

  @include flex(column);

  gap: $space-xl;
}

.auth-form__group {
  @include flex(column, 1.5rem);
}

.auth-form__label {
  margin-bottom: $space-xs;

  font-size: 1.4rem;
  font-weight: $fw-medium;

  color: $dark-text-secondary;
}

.auth-form__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-md;

  margin-top: $space-xs;
  margin-bottom: $space-sm;
}

.auth-form__forgot {
  color: $secondary;
  font-size: 1.4rem;
  font-weight: $fw-medium;
  text-decoration: none;

  transition: color $transition;

  &:hover {
    color: $primary;
  }

  &:focus-visible {
    outline: none;
    color: $primary;
  }
}

@media (max-width: 768px) {
  .auth-form__options {
    flex-direction: column;
    align-items: flex-start;
  }

  .auth-form__forgot {
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .auth-form {
    gap: $space-md;
  }

  .auth-form__label {
    font-size: 1.3rem;
  }
}
